/*
 Theme Name:   NIDA
 Description:  Plant3 Child Theme by SeedWebs.com
 Author:       SeedWebs
 Template:     plant3
 Version:      1.0.4
*/

/*
===========================================

This theme use SCSS, please check

1. assets/scss/style-m.scss - will be compiled to assets/css/style-m.css and used for mobile version.
2. assets/scss/style-d.scss - will be compiled to assets/css/style-d.css and used for desktop version.
    
=========================================== 
*/
