@import 'ini';
@import 'style-m';
@import 'style-d';
#menu-comments {
  display: none;
}

#wpbody .editor-styles-wrapper {
  --s-body: 'Graphik Thai Loop', sans-serif;
  --s-heading: 'Manifestor', sans-serif;
  --s-heading-alt: 'Utopia Std', serif;
  --s-heading-weight: 500;
  --s-heading-alt-weight: 400;
  --s-rounded-1: 0;
  --s-rounded-2: 0;
  --n-red: #a51d32;
  --n-dark: #2d2a4a;
  --n-blue: #261e72;
  --n-light: #f4f5f8;
  --n-warm: #f4ef9e;
  --n-yellow: #ffca11;
  --n-brown: #aa8156;
  @media (min-width: 1240px) {
    --s-container-width: 1240px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }
  ._title {
    font-family: var(--s-heading-alt);
    font-weight: var(--s-heading-alt-weight);
    position: relative;
    font-size: 1.8em;
    margin-bottom: calc(6px + var(--s-space));
    @media (min-width: 768px) {
      font-size: 2em;
    }
    @media (min-width: 1024px) {
      font-size: 2.375em;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 3px;
      background: var(--n-red);
    }
  }
  ._center {
    &::after {
      content: '';
      position: absolute;
      bottom: -11px;
      left: calc(50% - 50px);
    }
  }
  ._text_shadow {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  ._box_shadow {
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
  }
  ._arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  @media (min-width: 768px) {
    .md\:justify-end {
      .block-editor-inner-blocks .block-editor-block-list__layout {
        justify-content: flex-end;
      }
    }
  }

  .entry-pic {
    .posted-cat {
      bottom: 0;
      left: 0;
      top: unset;
    }
  }
  .posted-cat.-button a {
    background-color: var(--n-red);
    padding: 0.4em 0.6em;
  }
  .entry-excerpt {
    color: var(--s-text-2);
    font-family: var(--s-heading);
    font-size: 0.875;
    font-size: 0.875em;
    margin-top: auto;
  }
}
